:root {
    --color-main-white: #f8f9fa;
    --color-white: #edeff2;
    --color-main-white-1: #e9ecef;
    --color-main-black: #343a40;
    --color-main-black-1: #7c7f82;
    --color-main-red: #ff6b6b;
    --color-main-green: #57cc99;
    --color-main-blue: #457b9d;
    --color-main-blue-1: #a8dadc;

    --space-1: 1px;
    --space-2: 2px;
    --space-3: 3px;
    --space-4: 5px;
    --space-5: 8px;
    --space-6: 13px;
    --space-7: 21px;
    --space-8: 34px;
    --space-9: 55px;
}

* {
    box-sizing: border-box;
    transition: all 122ms linear;
}

html,
body {
    margin: 0 !important;
    height: 100%;
    background-color: var(--color-main-white);
}

body {
    color: var(--color-main-black);
}

hr {
    margin: 0;
}

ng-select {
    width: 100%;
    min-width: 0;
}

.flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-y {
    display: flex;
    align-items: center;
}

.positive {
    color: var(--color-main-green);
}

.negative {
    color: var(--color-main-red);
}

.main-container .actions-menu {
    padding: var(--space-5) 0;
}

.main-container .actions-menu button,
.main-container .actions-menu select {
    height: 30px;
}

.main-container .actions-menu label {
    font-size: 13px;
    font-weight: bold;
    color: var(--color-main-blue);
}

.main-container .selected-marker {
    font-size: 13px;
    color: var(--color-main-green);
}

.main-container .custom-form .flex-row {
    justify-content: space-between;
    gap: var(--space-5);
}

.main-container .custom-form .flex-row>div {
    flex: 0 0 50%;
    width: 50%;
}

.main-container .dropdown-menu {
    padding: 0;
}

.main-container .dropdown-menu li {
    padding: var(--space-2) var(--space-5);
    font-size: 13px;
    cursor: pointer;
}

.main-container .dropdown-menu li i {
    font-size: 18px;
    margin-right: var(--space-5);
}

.main-container .dropdown-menu li:hover {
    background-color: var(--color-main-white-1);
}

.main-container .no-transactions,
.main-container .no-accounts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: var(--color-main-black-1);
}

.no-transactions img {
    width: 300px;
}