<div class="main-container d-flex">
    <div class="actions-menu d-flex flex-row justify-content-between">
        <div class="filter-section d-flex flex-row">
            <div class="package-filter d-flex flex-column">
                <label>Pacchetto</label>

                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle package-selector"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        {{selectedPackage}}
                    </button>
        
                    <ul class="dropdown-menu">
                        @for(package of accountsPackages; track package) {
                            <li>{{package}}</li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="actions-section flex-center-y flex-row gap-2">
            @if(!selectedAccounts.length) {
                <button type="button" class="btn btn-outline-secondary btn-sm"
                (click)="createAccount()">
                    Crea conto
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm"
                        (click)="loadAccountsExample()">
                    Importa esempio
                </button>
            } @else {
                <div class="d-flex flex-row gap-2 flex-center-y">
                    @if(selectedAccounts.length == 1) {
                        <button type="button" class="btn btn-warning btn-sm"
                        (click)="editAccount()">
                            Modifica
                        </button>
                    }

                    <button type="button" class="btn btn-danger btn-sm"
                            (click)="deleteAccount()">
                        Elimina
                    </button>
                </div>
            }

            @if(selectedAccounts.length) {
                <div class="info-selected-items flex-center-all">
                    <span href="" (click)="cancelEdit()">
                        Annulla
                    </span>
                </div>
            }
        </div>
    </div>

    <div class="custom-table">
        <div class="table-headers">
            @for(column of tableColumns; track column) {
                <div class="table-header">{{column.label}}</div>
            }
        </div>

        @for(accountType of accountsByType; track accountType) {
            <div class="accordion accordion-flush" id="account-types">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#' + accountType.type | toId"
                                aria-expanded="false"
                                [attr.aria-controls]="accountType.type | toId">
                            {{accountType.type}}
                        </button>
                    </h2>

                    <div [id]="accountType.type | toId" class="accordion-collapse collapse">
                        <div class="table-body">
                            @for(account of accountType.accounts; track account.id) {
                                <div class="table-row" (click)="selectAccount(account)">
                                    @for(column of tableColumns; track column) {
                                        <div class="table-column">
                                            @if(isAccountSelected(account) && $index == 0) {
                                                <span class="selected-marker">
                                                    <i class="bi bi-check-lg"></i>
                                                </span>
                                            }

                                            {{account[column.name]}}
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Modal -->
    <div class="modal modal-lg fade" id="accountModal" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="accountModalLabel">Modifica conto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="d-flex flex-row">
                        <div class="mb-3">
                            <label for="value" class="form-label">Pacchetto</label>
                            <input type="text" id="value" class="form-control" [(ngModel)]="formModel.accountsPackage" [value]="selectedPackage" readonly>
                        </div>

                        <div class="mb-3">
                            <label for="value" class="form-label">Codice</label>
                            <input type="number" id="value" class="form-control" [(ngModel)]="formModel.code" [disabled]="!!appMode?.onEdit">
                        </div>

                        <div class="mb-3">
                            <label for="executed" class="form-label">Segno</label>

                            <ng-select id="executed"
                                        [items]="[1, -1]"
                                        [(ngModel)]="formModel.sign"
                                        [clearable]="false"
                            >
                                <ng-template ng-label-tmp let-item="item">
                                    {{item > 0 ? "+" : "-"}}
                                </ng-template>

                                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                    {{item > 0 ? "+" : "-"}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>

                    <div class="d-flex flex-row">
                        <div class="mb-3">
                            <label for="value" class="form-label">Tipo</label>
                            <input type="text" id="value" class="form-control" [(ngModel)]="formModel.type">
                        </div>

                        <div class="mb-3">
                            <label for="value" class="form-label">Sotto tipo</label>
                            <input type="text" id="value" class="form-control" [(ngModel)]="formModel.subType">
                        </div>

                        <div class="mb-3">
                            <label for="value" class="form-label">Gruppo</label>
                            <input type="text" id="value" class="form-control" [(ngModel)]="formModel.group">
                        </div>
                    </div>

                    <div class="d-flex flex-row">
                        <div class="mb-3">
                            <label for="value" class="form-label">Descrizione</label>
                            <input type="text" id="value" class="form-control" [(ngModel)]="formModel.description">
                        </div>

                        <div class="mb-3">
                            <label for="value" class="form-label">Note</label>
                            <input type="text" id="value" class="form-control" [(ngModel)]="formModel.notes">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                            (click)="cancelEdit()">Chiudi</button>

                    <button type="button"
                            class="btn btn-primary"
                            data-bs-dismiss="modal"
                            (click)="saveAccount()">Salva</button>
                </div>
            </div>
        </div>
    </div>
</div>