.main-container {
    flex-direction: column;
    padding: var(--space-6) var(--space-8);
    gap: var(--space-6);
}

.main-container .filter-section {
    gap: var(--space-6);
}

.main-container .filter-section .package-filter {
    width: 112px;
}

.actions-menu .info-selected-items {
    padding: var(--space-5);
    border-left: 1px solid var(--color-main-black);
    cursor: pointer;
}

.custom-table .accordion {
    border-bottom: 2px solid var(--color-main-white);
}

.custom-table .accordion-button,
.custom-table .accordion-button.collapsed {
    padding: var(--space-6);
    color: var(--color-main-black);
    box-shadow: none;
    font-weight: bold;
}

.custom-table .accordion-button.collapsed {
    background-color: var(--color-main-white-1);
}

.custom-table .accordion-button {
    background-color: var(--color-main-blue-1);
}

.custom-table .table-headers,
.custom-table .table-row {
    display: grid;
    grid-template-columns: 80px 200px 200px auto 250px;
    text-align: left;
}

.custom-table .table-headers {
    background-color: var(--color-main-green);
    color: var(--color-white);
    padding: var(--space-5);
    font-weight: bold;
}

.custom-table .table-header,
.custom-table .table-column {
    padding: var(--space-2) var(--space-5);
}

.custom-table .table-row {
    background-color: var(--color-main-white);
    border-bottom: 1px solid var(--color-main-black-1);
}

.custom-table .table-row:last-child {
    border-bottom: none;
}

.main-container .table-row:hover {
    cursor: pointer;
    background-color: var(--color-main-white-1)
}

.custom-form .flex-row>div {
    flex: 1 1 calc(100% / 3);
    width: calc(100% / 3);
}